
@import url('https://fonts.googleapis.com/css2?family=Libre+Barcode+128+Text&display=swap');
body{
    background-color: #003844; 
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #FFB100;
}
h1{
    font-family: 'Libre Barcode 128 Text', cursive;
    font-size: 5rem;
    font-weight: 400;
    margin: 0;
    padding-bottom: 1rem;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select:none; 
    user-select:none;
    -o-user-select:none;
}
canvas{
    border-radius: 1rem;
}